.ui-datepicker-year ,.ui-datepicker-month{height:35px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {top:5px;}
.ui-datepicker-trigger {margin: 0px 0px -7px 7px !important;}
.react-datepicker__navigation-icon--next {
    margin-top: 30px;
    margin-left: 4px;
}
.react-datepicker__navigation-icon--previous {
    margin-top: 30px;
    margin-right: 4px;
}

.datepic_el_sel{
	float:left;
	width:23%;
	margin-right:10px;
}

.datepic_el_sel_txt{
	float:left;
	width:23%;
	margin-right:10px;
	color:black;
	font-weight:600;
	text-align: center;
	height: 2.75rem;
    margin: 10px 0 0 0;
}

.datepic_el{
    width:31%;
    float:left;
}
.datepic_bet{
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    font-size:20px;
}


table th{text-align: center !important;cursor:pointer;}
table td{text-align: center !important;}
.search_btn_li{
    width:100%;
}
.cate_div{
    width:100%;
}
.display_none{
    display: none;
}
/* .apartImg{
    src:"../images/apartMain.jpg";
} */

.page_wrap {
	text-align:center;
	font-size:0;
 }
.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}
.page_nation .arrow {
	border:1px solid #ccc;
}
.page_nation .pprev {
	background:#f8f8f8 url('/img/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('/img/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('/img/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .nnext {
	background:#f8f8f8 url('/img/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}

.table_left{
	float: left;width:50%;
}
.table_right{
	float: right;width:50%;    text-align: right;
}

.table_limit{
	width: 75px; height: 33px;
}
.table_class{
	margin-top: 100px;
}
.table_row{
	float: right;margin: 0 0 -9px 0;
}
.table_samll_td{
	text-align: left !important;
}
.table_samll_td span{
	font-weight: 700;
}
/* .myChart_tr{
	display: none;
} */
.myChart_email{
	width:100%;
}
.myChart_div{
	max-height: 500px;
	/* max-width:500px; */
}
.myChart{
	width:65vw; height:40vh;
}

·myChart_div canvas{
	max-height: 300px;
}

#tb_sapce{
	color:black;
	font-weight:600;
}

.fontAwesome_a{
	margin-left:10px;
}

.p_white{
	color:white;
	height:0px;
}
.p_white a{
	color:white;
	text-decoration:none;
}

.chk_error{
	color:red;
}

.chk_pass{
	color:green;display:none;
}

.black_anchor{
	text-decoration: none;
    color: black !important;
}

.register_div{
	float:left;
	width:100%;
	color: black;
    font-size: 18px;
}

.register_row{
	width:90%;
}
.register_left_div{
	float:left;
	text-align: center;
	width:10%;
}

.register_right_div{
	float:left;
	width:90%;
}

.register_right_div_editor{
	float:left;
	width:90%;
	margin-bottom:10px;
}

.btn_area{
	padding-bottom:20px;
}
.input_select_10{
	width:10%;
}

.input_select_30{
	width:30%;
}
.input__15{
	float:left;
	width:15%;
}
.input__20{
	float:left;
	width:20%;
}
.input__70{
	float:left;
	width:70%;
}
.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 200px;
}

.table_inner_btn{
	border: 1px solid #5AA6ED;
    padding: 3px 4px 3px 4px;
	border-radius: 5px;
	background-color: #5AA6ED;
	cursor:pointer;
}

.select_cjs_wrap {
	/* width:300px; */
	/* height: 28px; */
   /* border:1px solid #ccc; */
   background:url('./img/arrow_black.gif') no-repeat 94% 50%/15px auto;
 
 }