<ul class="links">
    <li>
        <div >
            
            <% 
            if(ss_user==null){
            %>
            <a style='color:white;' href="/login/loginView">LOGIN</a>&nbsp;&nbsp;&nbsp;<a style='cursor:none;color:white;'>/</a>&nbsp;&nbsp;&nbsp;
            <a style='color:white;' href="/login/joinView">JOIN</a>
            <%
            }else{
            %>
            <p style='color:white;'>
                <%= ss_user.user_id%>님 환영합니다.<br>
                <a style='color:white;' href="/login/mypage">Mypage  </a>&nbsp;&nbsp;&nbsp;<a style='cursor:none;color:white;'>/</a>&nbsp;&nbsp;&nbsp;
                <a style='color:white;' href="/login/doLogout">Logout  </a>
            </p>
            
            <%
            }
            %>
        </div>
    </li>
    <li><a href="/api/index.html">Home</a></li>
    <li><a href="/api/generic.html">Generic</a></li>
    <li><a href="/api/elements.html">Elements</a></li>
</ul>