<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
<%- include('../../views/include/inc_head') %>
<script src="/../js/kakao.js"></script>
<title>JOIN</title>
	</head>
	<script>
		var idCheckFlag = false;
		var pwCheckFlag = false;
		var pw2CheckFlag = false;
		var emailCheckFlag = false;
		
		function doJoin(){
			if(!idCheckFlag){
				alert("Please check ID");
				$("#id").focus();
				return false;
			}
			if(!pwCheckFlag){
				alert("Please check PW");
				$("#pw").focus();
				return false;
			}
			if(!pwCheckFlag){
				alert("Please check PW");
				$("#pw2").focus();
				return false;
			}
			if(!emailCheckFlag){
				alert("Please check E-mail");
				$("#email").focus();
				return false;
			}

			$.ajax({
				url: "/login/doJoin",
				type: "POST",
				cache: false,
				async:false,
				// dataType: "string",
				data: {
						"id" : $("#id").val(),
						"pw":$("#pw").val(),
						"email" : $("#email").val()
					},
				success: function(data){
					if(data=="1"){
						alert("회원가입이 완료되었습니다.");
						location.href='/login/loginView';
					}else{
						alert("error")
					}
				},
				error: function (request, status, error){
					var msg = "ERROR : " + request.status + "<br>"
					msg += + "내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
		}


		function idCheckEvent(obj){
			var re = /^[a-z0-9]{6,12}$/;

			var id = $("#id").val();
			if(!re.test(id)){
				idCheckFlag=false;
				$("#idCheckIcon").hide();
				$("#idTitle").css('color','#a6a6a6');
				$("#idCheckLabel").text('ID can be registered in English lowercase letters or mixed numbers between 6 and 12 characters');
			}else{

				$.ajax({
					url: "/login/idDupleCnt",
					type: "POST",
					cache: false,
					dataType: "json",
					data: {
							"id" : $("#id").val()
						},
					success: function(data){
						if(data!='0'){
							idCheckFlag=false;
							$("#idCheckIcon").hide();
							$("#idTitle").css('color','#a6a6a6');
							$("#idCheckLabel").text('Already in use');
						}else{
							idCheckFlag=true;
							$("#idCheckIcon").show();
							$("#idTitle").css('color','green');
							$("#idCheckLabel").text('');
						}
						
					},
					error: function (request, status, error){
						var msg = "ERROR : " + request.status + "<br>"
						msg += + "내용 : " + request.responseText + "<br>" + error;
						console.log(msg);
					}
				});
			}
       	}

		function pwCheckEvent(obj){
			var regExpPw = /(?=.*\d{1,50})(?=.*[~`!@#$\^&*()-+=]{1,50})(?=.*[a-zA-Z]{1,50}).{10,20}$/;
			var upw = $("#pw").val();
			if(!regExpPw.test(upw)){
				pwCheckFlag=false;
				$("#pwCheckIcon").hide();
				$("#pwTitle").css('color','#a6a6a6');
				$("#pwCheckLabel").text('Password should be 10~20 digits in number and alphabetic combination.');
			}else{
				pwCheckFlag=true;
				$("#pwCheckIcon").show();
				$("#pwTitle").css('color','green');
				$("#pwCheckLabel").text('');
			}
		}
		
		function pw2CheckEvent(obj){
			var upw = $("#pw").val();
			var upw2 = $("#pw2").val();
			if(upw2!=upw){
				pw2CheckFlag=false;
				$("#pw2CheckIcon").hide();
				$("#pw2Title").css('color','#a6a6a6');
				$("#pw2CheckLabel").text('Password is wrong.');
			}else{
				pw2CheckFlag=true;
				$("#pw2CheckIcon").show();
				$("#pw2Title").css('color','green');
				$("#pw2CheckLabel").text('');
			}
		}

		function emailCheckEvent(obj){

			if($("#email").val().indexOf("@") < 0 || $("#email").val().indexOf(".")<0 ){
				emailCheckFlag=false;
				$("#emailCheckIcon").hide();
				$("#emailTitle").css('color','#a6a6a6');
				$("#emailCheckLabel").text('This is not a valid email format');
			}else{
				$.ajax({
					url: "/login/emailDupleCnt",
					type: "POST",
					cache: false,
					async:false,
					data: {
							// "id" : $("#id").val(),
							// "pw":$("#pw").val(),
							"email" : $("#email").val()
						},
					success: function(data){
						if(data=="1"){
							emailCheckFlag=false;
							$("#emailCheckIcon").hide();
							$("#emailTitle").css('color','#a6a6a6');
							$("#emailCheckLabel").text('This E-mail is already in use');
						}else{
							emailCheckFlag=true;
							$("#emailCheckIcon").show();
							$("#emailTitle").css('color','green');
							$("#emailCheckLabel").text('');
							
							//pass
						}
					},
					error: function (request, status, error){
						var msg = "ERROR : " + request.status + "<br>"
						msg += + "내용 : " + request.responseText + "<br>" + error;
						console.log(msg);
					}
				});


			}

			

		}
		function openLogin(){
			location.href = "/login/loginView";
		}
	</script>
	
	<body class="subpage">
		<!-- Header -->
			<header id="header">
				<%- include('../../views/include/inc_header') %>
			</header>
		<!-- Nav -->
			<nav id="menu">
				<%- include('../../views/include/inc_nav') %>
			</nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="/../images/person.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>Join</h2>
								<br>
							</header>
							<form method="post" action="#">
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* ID : </div>
										<div class='loginDivEl_input'>
											<input type='text' name="id" id="id" value="" placeholder="" onkeyup='idCheckEvent(this)'>
											<i id='idCheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
										</div>
									</div>
										<p id='idCheckLabel' style='color:red'></p>
								</div>
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* PW : </div>
										<div class='loginDivEl_input'>
											<input type="password" name="pw" id="pw" value="" placeholder="" onkeyup='pwCheckEvent(this)'>
											<i id='pwCheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
										</div>
									</div>
									<p id='pwCheckLabel' style='color:red'></p>
								</div>
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* PW Check : </div>
										<div class='loginDivEl_input'>
											<input type="password" name="pw2" id="pw2" value="" placeholder="" onkeyup='pw2CheckEvent(this)'>
											<i id='pw2CheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
										</div>
									</div>
									<p id='pw2CheckLabel' style='color:red'></p>
								</div>
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* E-mail : </div>
										<div class='loginDivEl_input'>
											<input type='text' name="email" id="email" value="" placeholder="" onkeyup='emailCheckEvent(this)'>
											<i id='emailCheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
											
										</div>
									</div>
									<p id='emailCheckLabel' style='color:red'></p>
								</div>

								<div class='loginDiv' style='margin-top:50px;height:100px;'>
									<div class='loginDivEl'>
										<ul class="actions big">
											<li>
												<a style='width:200px;' class="button alt small" onclick='doJoin();'>Basic Join</a>
												<a style='width:200px;' class="button alt small" onclick='loginWithKakao();'>KAKAO Join</a>
												<a style='width:200px;' class="button alt small" onclick='openLogin();'>Login Page</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- <div class='row uniform'>
									<ul class="actions big">
										<li><a class="button alt small" onclick='doJoin();'>Join</a></li>
										<li>
											<a id="custom-login-btn" href="javascript:loginWithKakao()">
												<img src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg" width="222"/>
										  	</a>
										</li>
										  
									</ul>
								</div> -->

								<script type="text/javascript">
									// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
									Kakao.init('35ecd6ab60c5b6517ddb7813ae9e69dc');

									// SDK 초기화 여부를 판단합니다.
									console.log(Kakao.isInitialized());

									function loginWithKakao() {
									  Kakao.Auth.login({
										success: function(authObj) {
											// console.log(JSON.stringify(authObj))
											// console.log("-----------")	
											Kakao.Auth.authorize({
												redirectUri: 'http://localhost:3000/login/doKakaoLogin_callback'
											});
											Kakao.Auth.setAccessToken(authObj.access_token);
											
										  
										},
										fail: function(err) {
										  alert(JSON.stringify(err))
										},
									  })
									}
								  </script>
								  
							</form>

						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Version up plan</h2>
						<p>
							1. passport.js 적용
							2. 소셜로그인(KAKAO,NAVER)
						</p>
					</header>

				</div>
			</section>
		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<%- include('../../views/include/inc_footer') %>
			</footer>
		<!-- Scripts -->
	</body>
</html>