<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>

<%- include('../../views/include/inc_head') %>
<script src="/../js/kakao.js"></script>
<title>LOGIN</title>
	</head>
	<script>
		function doLogin(){
			if($("#id").val()==""){
				alert("ID를 올바르게 입력해주세요")
				$("#id").focus();
				return false;
			}
			if($("#pw").val()==""){
				alert("비밀번호를 올바르게 입력해주세요")
				$("#pw").focus();
				return false;
			}
			$.ajax({
				url: "/login/doLogin",
				type: "POST",
				cache: false,
				dataType: "json",
				data: {
						"id" : $("#id").val(),
						"pw":$("#pw").val()
					},
				success: function(data){
					
					if(data=="99"){
						alert('계정이 존재하지 않습니다')
					}else if(data=='1'){
						location.href = '/api/main';
					}else if(data=='98'){
						alert("비밀번호가 일치하지 않습니다.")	
					}else if(data=='97'){
						alert("에러발생");	
					}
									},
				error: function (request, status, error){
					var msg = "ERROR : " + request.status + "<br>"
					msg += + "내용 : " + request.responseText + "<br>" + error;
					console.log(msg);
				}
			});
			// alert("doLogin");
		}

		function openJoin(){
			location.href = '/login/joinView';
		}
	</script>
	
	<body class="subpage">
		<!-- Header -->
			<header id="header">
				<%- include('../../views/include/inc_header') %>
			</header>
		<!-- Nav -->
			<nav id="menu">
				<%- include('../../views/include/inc_nav') %>
			</nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="image fit">
							<img src="/../images/person.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>로그인</h2>
								<br>
								<!-- <p>검색조건 입력 후 검색해주세요.</p> -->
							</header>
							<form method="post" action="#">
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* ID : </div>
										<div class='loginDivEl_input'>
											<input type='text' name="id" id="id" value="" placeholder="" onkeypress="if(event.keyCode == 13) return doLogin();" >
											<i id='idCheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
										</div>
									</div>
										<p id='idCheckLabel' style='color:red'></p>
								</div>
								<div class='loginDiv'>
									<div class='loginDivEl'>
										<div class='loginDivEl_title'>* PW : </div>
										<div class='loginDivEl_input'>
											<input type="password" name="pw" id="pw" value="" placeholder="" onkeypress="if(event.keyCode == 13) return doLogin();" >
											<i id='pwCheckIcon' style='color:green;display:none;' class="fas fa-check"></i>
										</div>
									</div>
									<p id='pwCheckLabel' style='color:red'></p>
								</div>
								<div class='loginDiv' style='margin-top:50px;height:120px;'>
									<div class='loginDivEl'>
										<ul class="actions big">
											<li>
												<a style='width:200px;' class="button alt small" onclick='doLogin();'>Login</a>
												<a style='width:200px;' class="button alt small" onclick='loginWithKakao();'>KAKAO LOGIN</a>
												<a style='width:200px;' class="button alt small" onclick='openJoin();'>Join Page</a>
												
											</li>
										</ul>
									</div>
								</div>
								


								<script type="text/javascript">
									// SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
									Kakao.init('35ecd6ab60c5b6517ddb7813ae9e69dc');

									// SDK 초기화 여부를 판단합니다.
									console.log(Kakao.isInitialized());

									function loginWithKakao() {
									  Kakao.Auth.login({
										success: function(authObj) {
											// console.log(JSON.stringify(authObj))
											// console.log("-----------")	
											Kakao.Auth.authorize({
												redirectUri: 'http://localhost:3000/login/doKakaoLogin_callback'
											});
											Kakao.Auth.setAccessToken(authObj.access_token);
											
										  
										},
										fail: function(err) {
										  alert(JSON.stringify(err))
										},
									  })
									}
								  </script>

							</form>

						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<h2>Version up plan</h2>
						<p>
							소셜로그인(KAKAO,NAVER)
						</p>
					</header>

				</div>
			</section>
		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<%- include('../../views/include/inc_footer') %>
			</footer>
		<!-- Scripts -->
	</body>
</html>